<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
 xmlns="http://www.w3.org/1999/xhtml"
 xmlns:epub="http://www.idpf.org/2007/ops"
 xml:lang="ja"
 #if (${bookInfo.Vertical})
 class="hltr"
 #else
 class="vrtl"
 #end
>
<head>
<link rel="stylesheet" type="text/css" href="../style/book-style.css"/>

<title>${title}</title>
</head>


#if ($kindle)
#set ($kindle_cls=" kindle")
#end
#if (${bookInfo.Vertical})
#set ($vh_cls="height-100per vrtl")
#else
#set ($vh_cls="width-100per hltr")
#end
<body class="p-titlepage$!{kindle_cls}">
<div class="main ${vh_cls} block-align-center">

#if (${PUBLISHER})
<div class="label">
<p class="label-name">${PUBLISHER}</p>
</div>
#end

#if (${CREATOR} || ${SUBCREATOR})
<div class="space author">
#if (${CREATOR})
<p class="space creator"><br/></p>
#end
#if (${SUBCREATOR})
<p class="space subcreator"><br/></p>
#end
</div>
#end

<div class="book-title">

#if (${SERIES})
<div class="book-title-before">
<p>${SERIES}</p>
</div>
#end

<div class="book-title-main">
<p>${TITLE}</p>
</div>

#if (${ORGTITLE} || ${SUBTITLE} || ${SUBORGTITLE})
<div class="book-title-after">
#if (${ORGTITLE})
<p class="orgtitle">${ORGTITLE}</p>
#end
#if (${SUBTITLE})
<p class="subtitle">${SUBTITLE}</p>
#end
#if (${SUBORGTITLE})
<p class="suborgtitle">${SUBORGTITLE}</p>
#end
</div>
#end

</div><!-- book-title -->

#if (${CREATOR} || ${SUBCREATOR})
<div class="author">
#if (${CREATOR})
<p class="creator">${CREATOR}</p>
#end
#if (${SUBCREATOR})
<p class="subcreator">${SUBCREATOR}</p>
#end
</div>
#end

</div><!-- main -->
</body>
</html>
